@use '../../styles/shared' as *;

.root {
  min-height: 100vh;
  display: grid;
  place-content: center;
  gap: 20px;
  text-align: center;
  background-color: #0b1220;
  color: #96cbf2;
}

.title {
  margin: 0;
  color: #fecc42;
  font-family: 'Star Jedi', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.04em;
}

.description {
  margin: 0;
  color: #acabb1;
  max-width: 28rem;
  justify-self: center;
  line-height: 1.5;
}

.back-button {
  @extend %CTA-button;
  justify-self: center;
}
