@use './styles/shared';

body {
  color: white;
  margin: 0;
  font-family: sans-serif;
}

.app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-inline: 20px;
  background-image: url('./assets/images//app-bg.png');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
